body {
    background-color:rgb(190, 193, 233);
    color: rgb(19, 21, 58);
    font-family: monospace;
    padding: 5px 25px;
}

h1 {
    font-size: 40px;
}

li {
    padding: 5px;
    font-size: 16px;
}